.ToggleButton {
  color: white;
  border: 1px solid green;
  background: green;
  border-radius: 3px;
  padding: 10px;
  font-size: 14px;
}

.ToggleButton:hover {
  background: lightgreen;
  cursor: pointer;
  color: green;
}

.ToggleButton.Red {
  background: red;
  border: 1px solid red;
}

.ToggleButton.Red:hover {
  background: salmon;
  color: red;
}
